In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('CollegeData.xlsx')

## Seperate sheet

In [3]:
Faculty = pd.read_excel(xls, 'Faculty')
courses = pd.read_excel(xls,'Courses')
subject = pd.read_excel(xls,'Subjects')
department = pd.read_excel(xls,'Department')
student = pd.read_excel(xls,'Student')
exam = pd.read_excel(xls,'Exam')

### Insert function

In [4]:
def excel_to_mysql_insert(excel_file, table_name):

    df = excel_file.copy(deep=True)

    columns = list(df.columns)
    insert_statements = []

    for _, row in df.iterrows():
        values = [f"'{str(value)}'" for value in row]
        insert_statement = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES ({', '.join(values)});"
        insert_statements.append(insert_statement)
    
    return insert_statements

Faculty = 
courses = 
subject = 
department
student = 
exam = pd.

In [16]:
insert_statements = excel_to_mysql_insert(exam, 'exam')

In [18]:
insert_statements

["INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC01', '2022-02-11 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC02', '2022-02-13 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC03', '2022-02-14 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC04', '2022-02-15 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC05', '2022-02-16 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC06', '2022-02-17 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC07', '2022-02-18 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC08', '2022-02-20 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAC09', '2022-02-21 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA01', '2022-02-11 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA02', '2022-02-13 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA03', '2022-02-14 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA04', '2022-02-15 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA05', '2022-02-16 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA06', '2022-02-17 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA07', '2022-02-18 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA08', '2022-02-20 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA09', '2022-02-21 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DBDA10', '2022-02-22 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD01', '2022-02-11 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD02', '2022-02-13 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD03', '2022-02-14 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD04', '2022-02-15 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD05', '2022-02-16 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD06', '2022-02-17 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD07', '2022-02-18 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD08', '2022-02-20 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DESD09', '2022-02-21 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI01', '2022-02-11 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI02', '2022-02-13 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI03', '2022-02-14 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI04', '2022-02-15 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI05', '2022-02-16 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI06', '2022-02-17 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI07', '2022-02-18 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI08', '2022-02-20 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI09', '2022-02-21 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI10', '2022-02-22 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DAI11', '2022-02-23 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS01', '2022-02-11 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS02', '2022-02-13 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS03', '2022-02-14 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS04', '2022-02-15 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS05', '2022-02-16 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS06', '2022-02-17 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS07', '2022-02-18 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS08', '2022-02-20 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS09', '2022-02-21 00:00:00', '11:00:00', '13:00:00');",
 "INSERT INTO exam (Subject_Id, Date, Start_Time, End_Time) VALUES ('DITISS10', '2022-02-22 00:00:00', '11:00:00', '13:00:00');"]

### Save statement

In [6]:
def save_to_txt(statements, output_file):
    with open(output_file, 'w') as f:
        f.write('\n'.join(statements))

In [17]:
save_to_txt(insert_statements, 'exam.sql');